body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

form {
  background: white;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

canvas {
  margin-top: 20px;
}

